.flex {
  display: flex;
  align-items: center;
}
.flex-inline {
  display: inline-flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-centr {
  align-items: flex-center;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}

.grid {
  display: grid;
}
.width-100 {
  width: 100%;
}
