@import "./buttons";
@import "./colors";
@import "./reset";
@import "./utility";
@mixin opacityColor($color) {
  background-color: rgba($color: $color, $alpha: 0.2);
}
@mixin changeColor($color) {
  background-color: $color;
}

.dashboard__header {
  margin-bottom: 2rem;
}
.dashboard__header h2 {
  font-size: 4rem;
}
.dashboard__search__input {
  color: #7a7a7a;
  font-size: 1.3rem;
  background-color: #fff;
  padding: 1.2rem 1rem;
  box-shadow: 0 0 4rem 0.4rem $secondary-color;
  border-radius: $border-radius-xs;
  opacity: 0.5;
}
.dashboard__search__input i {
  font-weight: 900;
}
.dashboard__search__input input::placeholder {
  font-weight: 500;
  color: $gray-color;
  font-size: 1.2rem;
}
.dashboard__bell {
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 4rem 0.4rem $secondary-color;
  border-radius: $border-radius-xs;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.dashboard__bell:hover {
  background-color: $secondary-color;
}
.dashboard__bell:hover i {
  color: $primary-color;
}
.dashboard__bell i {
  font-weight: 900;
  color: $gray-color;
}
.dashboard__courses__cards {
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  gap: 3rem;
}
.card {
  padding: 2rem;
  border-radius: $border-radius-xs;
  overflow: visible;
  transition: $transition;
}
.card:hover {
  transform: translateY(-1rem);
}
.card .card__img__header {
  padding: 2rem 4rem;
  width: 100%;
  border-radius: $border-radius-xs;
}
#Dashboard > div.dashboard__courses > div > div:nth-child(1) > img {
  @include changeColor(#fcab5e);
}
#Dashboard > div.dashboard__courses > div > div:nth-child(2) > img {
  @include changeColor(#8a70d6);
}
#Dashboard > div.dashboard__courses > div > div:nth-child(3) > img {
  @include changeColor(#579be4);
}
#Dashboard > div.dashboard__courses > div > div:nth-child(1) {
  @include opacityColor(#fcab5e);
}
#Dashboard > div.dashboard__courses > div > div:nth-child(2) {
  @include opacityColor(#8a70d6);
}
#Dashboard > div.dashboard__courses > div > div:nth-child(3) {
  @include opacityColor(#579be4);
}
div:nth-child(1)
  > div.card__footer.flex.flex-direction-row.justify-content-space-between
  > div.card__footer__btn {
  @include changeColor(#fcab5e);
}
div:nth-child(2)
  > div.card__footer.flex.flex-direction-row.justify-content-space-between
  > div.card__footer__btn {
  @include changeColor(#8a70d6);
}
div:nth-child(2)
  > div.card__footer.flex.flex-direction-row.justify-content-space-between
  > div.card__footer__btn {
  @include changeColor(#579be4);
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.card {
  cursor: pointer;
}
.card__body p {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}
.card__body span {
  font-weight: 600;
  font-size: 1.4rem;
  color: $gray-color;
}
.card__footer {
  margin-top: 3rem;
}
.card__footer__avatar {
  position: relative;
  width: fit-content;
}
.card__footer__avatar img {
  width: 3rem;
  margin-left: -1rem;
  transition: $transition;
}
.card__footer__avatar img:hover {
  transform: scale(1.1);
}
.card__footer__btn {
  padding: 0.5rem;
  background-color: $primary-color;
  border-radius: $border-radius-xs;
}
.card__footer__btn i {
  font-size: 2.5rem;
  font-weight: 300;
  color: $white;
  transition: $transition;
  cursor: pointer;
}
.card__footer__btn:hover {
  opacity: 0.7;
}
.dashboard__mycourses {
  margin-top: 5rem;
}
.dashboard__mycourses span {
  font-size: 1.3rem;
  color: $primary-color;
  cursor: pointer;
}
.dashboard__mycourses table {
  th {
    text-align: start;
    color: $gray-color;
    font-size: 1.4rem;
    font-weight: 500;
  }
  tr {
    margin: 1rem 0;
    width: 100%;
    color: $dark-color;
    transition: $transition;
  }
  td {
    font-size: 1.3rem;
    font-weight: 600;
    opacity: 0.8;
  }
}
tbody tr:hover{
  transform: translateX(0.5rem)
}
.course__name {
  margin-top: 1rem;
}
.course__name__icon {
  padding: 2rem;
  border-radius: 0.5rem;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.course__name .icon_design {
  @include opacityColor(#8a70d6);
}
.course__name .icon_design i {
  color: #8a70d6;
}
.course__name .icon_development {
  @include opacityColor(#579be4);
}
.course__name .icon_development i {
  color: #579be4;
}
.course__name .icon_python {
  @include opacityColor(#8a70d6);
}
.course__name .icon_html {
  @include opacityColor(#8a70d6);
}
.course__name .icon_javascript {
  @include opacityColor(#fcab5e);
}
.course__name .icon_javascript i {
  color: #fcab5e;
}
.course__name i {
  font-size: 1.8rem;
  font-weight: 100;
}
.course__name .course__name__title {
  color: $dark-color;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.course__name .course__name__count {
  color: $gray-color;
  opacity: 0.6;
  font-weight: 600;
  font-size: 1.2rem;
}
.main__dashboard__profile__heading i {
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #fff;
  border-radius: $border-radius-xs;
  box-shadow: 0 0 4rem 0.4rem $secondary-color;
  color: $gray-color;
}
.main__dashboard__profile__avatar img {
  width: 10rem;
}
.main__dashboard__profile__avatar__tilte span {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2rem 0;
}
.main__dashboard__profile__avatar__tilte i {
  color: $primary-color;
  margin-left: 1rem;
}
.main__dashboard__profile__avatar__level {
  font-size: 1.3rem;
  font-weight: 600;
  color: $gray-color;
  opacity: 0.7;
}
.main__dashboard__profile__progress__item {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4rem 0.4rem $secondary-color;
  border-radius: $border-radius-xs;
  color: $gray-color;
  transition: $transition;
  cursor: pointer;
}
// .main__dashboard__profile__progress__item:hover {
//   background-color: $secondary-color;
// }
.progress__title {
  width: 80%;
}
p.progress__title__course {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: $dark-color;
}
.circle-chart__percent {
  font-weight: 600;
}
p.progress__title__count {
  font-size: 1.2rem;
  font-weight: 400;
}
i.ri-arrow-right-s-line {
  font-size: 2rem;
  vertical-align: bottom;
}

.circlechart {
  float: left;
  padding: 0;
  padding-right: 1rem;
}
.backgorund--fill {
  background-color: rgba($color: $primary-color, $alpha: 0.5);
}
.backgorund--withe {
  background-color: $white;
}
